.signupSection, #but{
    display: none;
}

.info{
    float:none;
display: block;

     margin-left: auto;
     margin-right: auto;
     width: 600px;
     border: darkviolet 2px solid;
     border-radius: 10px;


}

#result{
text-align: center;
font-size: 35px;}